numpy
scikit-learn
streamlit
matplotlib
seaborn
dash
plotly
pandas
flask
gunicorn
werkzeug
flask-compress
dash-bootstrap-components
dash-core-components
dash-html-components
dash-table
requests
retrying
python-dotenv
